#toast{
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 9999;
}

.toast-messenger{
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #ccc;
    min-width: 250px;
    padding: 5px;

    animation: slideleft ease-in .3s, fadeout linear 1s 3s forwards;
    
}

.toast-messenger + .toast-messenger{
    margin-top: 10px;
}

@keyframes slideleft{
    from{
        opacity: 0;
        transform: translateX(calc(100% + 40px));
    }

    to{
        transform: translateX(0);
    }
}

@keyframes fadeout {
    to{
        opacity: 0;
    }
}

.toast-messenger p{
    font-family: inherit;
    font-size: 13px;
    flex: 1;
    margin-left: 15px;
}

.toast-messenger i{
    height: 24px;
    width: 24px;
}


.toast-messenger.toast-messenger__success{
    background-color: #FFF;
}
.check-icon{
    background-image: url('./check.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.error-icon{
    background: url("./error.png") no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FFF;
}
