:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #019160;
}

* {
    box-sizing: inherit;
}

html {
    /* 1 hack = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: Notosans-Regular;
    font-size: 13px;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: Notosans-Regular;
    src: url("../../assets/fonts/notosans-regular.woff2");
}
